/* 导入编辑器特殊样式 */
@import './editor.css';

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-300);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-400);
}

/* 基础字体继承 */
input,
button,
textarea {
  font-family: inherit;
}

/* 斜体重置（微信兼容） */
em {
  font-style: normal !important;
}
