/* CodeMirror6 编辑器样式 */
.cm-editor {
  flex: 1;
  height: 100%;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  overflow: hidden;
}

/* 移除编辑器获取焦点时的虚线边框 */
.cm-editor:focus-within {
  outline: none !important;
}

/* 隐藏行号 */
.cm-editor .cm-gutters {
  display: none !important;
}

.cm-editor .cm-content {
  padding: var(--spacing-4);
}

.cm-editor .cm-scroller {
  padding: 0 10px;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
